* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 960px;
    margin: auto;
}

.menubar {
    text-align: center;
}

.menubar li {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 0px 50px;
    color:black;
}

.menubar li:hover {
    color: white;
    background-color: black;
    font-size: 25px;
        
}

/*..............................menubar ends here...............................*/